@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Customer management";
}
<h1>@ViewData["Title"]</h1>
@model List<ClientViewModel>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a href="@Url.Action("Create")" class="nav-link active" role="button" aria-pressed="true"> Create new customer</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Localité</th>
            <th scope="col">Rue</th>
            <th scope="col">Numéro</th>
            <th scope="col">Téléphone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nom</td>
                <td>@item.Prenom</td>
                <td>@item.Cp</td>
                <td>@item.Localite</td>
                <td>@item.Rue</td>
                <td>@item.Numero</td>
                <td>@item.Tel</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ClientID })" class="btn btn-secondary" role="button" aria-pressed="true">Modifier</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { id = item.ClientID })" class="btn btn-secondary btn-danger" role="button" aria-pressed="true">Supprimer</a>
                </td>
            </tr>
            }
    </tbody>
</table>